/* line 53, ../scss/page.scss */
body {
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: 'proxima_nova_bold';
  src: url("../assets/fonts/proximanova-bold.eot");
  src: url("../assets/fonts/proximanova-bold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/proximanova-bold.woff") format("woff"), url("../assets/fonts/proximanova-bold.ttf") format("truetype"), url("../assets/fonts/proximanova-bold.svg#proxima_nova_rgbold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova_black';
  src: url("../assets/fonts/proximanova-black.eot");
  src: url("../assets/fonts/proximanova-black.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/proximanova-black.woff") format("woff"), url("../assets/fonts/proximanova-black.ttf") format("truetype"), url("../assets/fonts/proximanova-black.svg#proxima_novablack") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova_regular';
  src: url("../assets/fonts/proximanova-regular.eot");
  src: url("../assets/fonts/proximanova-regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/proximanova-regular.woff") format("woff"), url("../assets/fonts/proximanova-regular.ttf") format("truetype"), url("../assets/fonts/proximanova-regular.svg#proxima_nova_rgregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'hoefler_text_italic';
  src: url("../assets/fonts/HoeflerText-Italic.eot");
  src: url("../assets/fonts/HoeflerText-Italic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/HoeflerText-Italic.woff") format("woff"), url("../assets/fonts/HoeflerText-Italic.ttf") format("truetype"), url("../assets/fonts/HoeflerText-Italic.svg#HoeflerText-Italic") format("svg");
  font-weight: normal;
  font-style: normal;
}
@media only screen and (min-width: lower-bound(em-calc(768) em-calc(1), em-calc(1024))) {
  /* line 90, ../scss/page.scss */
  .off-canvas-wrapper {
    display: none;
  }
}
/* line 96, ../scss/page.scss */
.menu-icon-hamburger span::after {
  content: "";
  display: block;
  height: 0;
  position: absolute;
  top: 50%;
  margin-top: -0.5rem;
  left: 0.90625rem;
  box-shadow: 0 0 0 1px #FFF, 0 7px 0 1px #FFF, 0 14px 0 1px #FFF;
  width: 1rem;
}

@media only screen and (max-width: upper-bound(0, em-calc(768))) {
  /* line 111, ../scss/page.scss */
  .opened-off-canvas-menu .off-canvas-wrapper {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    visibility: visible;
    -webkit-transition: -webkit-transform 0.4s ease-in-out;
    -moz-transition: -moz-transform 0.4s ease-in-out;
    -o-transition: -o-transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out;
  }

  /* line 125, ../scss/page.scss */
  .off-canvas-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 1000;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
    visibility: hidden;
    -webkit-transition: -webkit-transform 0.4s ease-in-out, visibility 0s;
    -webkit-transition-delay: 0s, 0.4s;
    -moz-transition: -moz-transform 0.4s ease-in-out, visibility 0s 0.4s;
    -o-transition: -o-transform 0.4s ease-in-out, visibility 0s 0.4s;
    transition: transform 0.4s ease-in-out, visibility 0s 0.4s;
  }

  /* line 146, ../scss/page.scss */
  .off-canvas-wrapper .top-off-canvas-menu {
    margin-top: 20px;
  }

  /* line 150, ../scss/page.scss */
  .off-canvas-wrapper ul.off-canvas-list li a {
    font-family: "proxima_nova_regular", Helvetica, Arial, sans-serif;
    color: #676666;
    background: #fff;
    padding: 20px;
    margin: 0;
    border-bottom: 1px solid #EBEBEB;
    text-transform: uppercase;
  }
  /* line 159, ../scss/page.scss */
  .off-canvas-wrapper ul.off-canvas-list li a:hover, .off-canvas-wrapper ul.off-canvas-list li a:focus {
    background: #ffffff;
    color: #000;
  }

  /* line 165, ../scss/page.scss */
  .off-canvas-wrapper .menu-icon-hamburger {
    position: absolute;
    right: 35px;
    top: 33px;
    z-index: 1000;
    display: block;
    width: 35px;
    height: 35px;
  }
  /* line 174, ../scss/page.scss */
  .off-canvas-wrapper .menu-icon-hamburger span:after {
    box-shadow: 0 0 0 1px #000, 0 7px 0 1px #000, 0 14px 0 1px #000;
  }
}
/* line 182, ../scss/page.scss */
#slider-container {
  height: 400px;
  position: relative;
}

@media only screen and (min-width: 48em) {
  /* line 188, ../scss/page.scss */
  #slider-container {
    height: 545px;
  }
}
@media only screen and (min-width: 1025px) {
  /* line 194, ../scss/page.scss */
  #slider-container {
    height: 100%;
  }
}
/* line 199, ../scss/page.scss */
.slide-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(65, 64, 66, 0.4);
}

/* line 207, ../scss/page.scss */
.slide-caption {
  position: absolute;
  top: 50%;
  bottom: auto;
  padding: 0 80px;
  text-align: center;
  font-family: "proxima_nova_black", Helvetica, Arial, sans-serif;
  font-size: 120px;
  text-transform: uppercase;
  z-index: 1;
  background-color: transparent;
  width: 100%;
  line-height: 0.9;
}

@media only screen and (max-width: upper-bound(0, em-calc(768))) {
  /* line 223, ../scss/page.scss */
  .slide-caption {
    font-size: 35px;
    padding: 0 10px;
  }
}
@media only screen and (min-width: lower-bound(em-calc(768) em-calc(1), em-calc(1024))) and (max-width: upper-bound(em-calc(768) em-calc(1), em-calc(1024))) {
  /* line 230, ../scss/page.scss */
  .slide-caption {
    font-size: 70px;
  }
}
/* line 235, ../scss/page.scss */
.royalSlider {
  height: 100% !important;
  width: 100%;
}

/* line 240, ../scss/page.scss */
.page-slider {
  margin-bottom: 30px;
}
/* line 243, ../scss/page.scss */
.page-slider .rsDefault .rsBullets {
  background: none;
  bottom: 15px;
}
/* line 248, ../scss/page.scss */
.page-slider .rsBullet {
  padding: 0;
  height: 9px;
  width: 9px;
  margin-left: 8px;
  margin-right: 8px;
}
/* line 256, ../scss/page.scss */
.page-slider .rsBullet span {
  display: block;
  border-radius: 50%;
  height: 9px;
  width: 9px;
  background-color: #fff;
}
/* line 264, ../scss/page.scss */
.page-slider .rsDefault .rsBullet.rsNavSelected span {
  background-color: transparent;
  border: 2px solid #fff;
}

/* line 271, ../scss/page.scss */
.rsArrow .rsArrowIcn {
  background: none;
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
}
/* line 278, ../scss/page.scss */
.rsArrow .rsArrowIcn:before, .rsArrow .rsArrowIcn:after {
  position: absolute;
  left: 25%;
  width: 3px;
  height: 50%;
  background: #FFF;
  content: '';
  -webkit-transition: -webkit-transform 0.3s, background-color 0.3s;
  transition: transform 0.3s, background-color 0.3s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* line 292, ../scss/page.scss */
.rsArrow .rsArrowIcn:after {
  top: 50%;
  -webkit-transform: translateX(-50%) rotate(-30deg);
  transform: translateX(-50%) rotate(-30deg);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

/* line 300, ../scss/page.scss */
.rsArrow .rsArrowIcn:before {
  webkit-transform: translateX(-50%) rotate(30deg);
  transform: translateX(-50%) rotate(30deg);
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
}

/* line 307, ../scss/page.scss */
.rsDefault .rsArrowIcn {
  background: none;
}

/* line 311, ../scss/page.scss */
.rsArrow .rsArrowIcn:hover {
  border-radius: 50%;
  background: #FFF;
}
/* line 314, ../scss/page.scss */
.rsArrow .rsArrowIcn:hover:after, .rsArrow .rsArrowIcn:hover:before {
  background: #999;
}
/* line 318, ../scss/page.scss */
.rsArrow .rsArrowIcn:hover:before {
  -webkit-transform: translateX(-50%) rotate(45deg);
  transform: translateX(-50%) rotate(45deg);
}
/* line 323, ../scss/page.scss */
.rsArrow .rsArrowIcn:hover:after {
  -webkit-transform: translateX(-50%) rotate(-45deg);
  transform: translateX(-50%) rotate(-45deg);
}

/* line 329, ../scss/page.scss */
.rsArrow.rsArrowRight .rsArrowIcn {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* line 334, ../scss/page.scss */
.rsDefault.rsHor .rsArrowRight {
  right: 20px;
}

@media only screen and (max-width: 1024px) {
  /* line 339, ../scss/page.scss */
  .page-slider .rsArrow {
    display: none !important;
  }
}
@media only screen and (min-width: lower-bound(em-calc(768) em-calc(1), em-calc(1024))) {
  /* line 345, ../scss/page.scss */
  .page-slider
  .rsDefault
  .rsBullets {
    bottom: 30px;
  }

  /* line 351, ../scss/page.scss */
  .page-slider
  .rsDefault
  .rsBullet {
    height: 13px;
    width: 13px;
  }

  /* line 358, ../scss/page.scss */
  .page-slider
  .rsDefault
  .rsBullet span {
    height: 13px;
    width: 13px;
  }

  /* line 365, ../scss/page.scss */
  .page-slider .rsDefault .rsBullet.rsNavSelected span {
    border-width: 4px;
  }

  /* line 369, ../scss/page.scss */
  .page-slider .rsVer .rsBullets {
    bottom: auto;
    right: 30px;
  }
}
@media only screen and (max-width: upper-bound(0, em-calc(768))) {
  /* line 376, ../scss/page.scss */
  .header .nav-wrapper {
    display: none;
  }
}
/* line 381, ../scss/page.scss */
.header .small-nav {
  position: relative;
  width: 16px;
  height: 16px;
  padding: 25px;
}

/* line 388, ../scss/page.scss */
.header .small-nav a {
  display: block;
  width: 50px;
  height: 50px;
  position: absolute;
  right: 6px;
  top: 0;
}

@media only screen and (min-width: lower-bound(em-calc(768) em-calc(1), em-calc(1024))) {
  /* line 399, ../scss/page.scss */
  .header .small-nav {
    display: none;
  }
}
/* line 404, ../scss/page.scss */
.header {
  position: relative;
}

/* line 408, ../scss/page.scss */
.header-menu {
  position: absolute;
  top: 30px;
  z-index: 1;
  width: 100%;
}

/* line 415, ../scss/page.scss */
.header .namelogo a img {
  width: 99px;
}

/* line 419, ../scss/page.scss */
.header .nav-bar {
  padding: 0 10px;
}

/* line 423, ../scss/page.scss */
.header .nav-bar .button {
  border-left: 0 !important;
  font-family: "proxima_nova_bold", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  background: none;
  padding: 2px 0;
  letter-spacing: 2px;
  font-size: 14px;
  position: relative;
  display: inline-block;
  margin: 15px 35px;
  outline: none;
  color: #FFF;
  text-decoration: none;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
}
/* line 439, ../scss/page.scss */
.header .nav-bar .button:hover, .header .nav-bar .button:focus {
  background: none;
}

/* line 444, ../scss/page.scss */
.header .nav-bar ul li:last-child a {
  margin: 15px 0 15px 35px;
}

/* line 448, ../scss/page.scss */
.header .nav-bar .button-group a::after {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 4px;
  background: rgba(255, 255, 255, 0.1);
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.7s, -webkit-transform 0.3s;
  -moz-transition: opacity 0.7s, -moz-transform 0.3s;
  transition: opacity 0.7s, transform 0.3s;
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  transform: translateY(10px);
}

/* line 465, ../scss/page.scss */
.header .nav-bar .button-group a:hover::after,
.header .nav-bar .button-group a:focus::after {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  transform: translateY(0px);
}

/* line 473, ../scss/page.scss */
.header .above-nav-bar {
  padding: 0 10px;
  margin-bottom: 5px;
}

/* line 478, ../scss/page.scss */
.header .above-nav-bar .search-btn,
.header .above-nav-bar .languages-items {
  display: inline-block;
}

/* line 483, ../scss/page.scss */
.header .above-nav-bar .search-btn {
  margin-right: 30px;
}

/* line 487, ../scss/page.scss */
.header .above-nav-bar .search-btn a {
  background: url("../assets/images/search.png") no-repeat;
  display: block;
  width: 12px;
  height: 13px;
}

/* line 494, ../scss/page.scss */
.header .above-nav-bar .languages-items {
  list-style-type: none;
  margin: 0;
}
/* line 498, ../scss/page.scss */
.header .above-nav-bar .languages-items li {
  display: inline-block;
}
/* line 502, ../scss/page.scss */
.header .above-nav-bar .languages-items li a {
  color: #fff;
  font-family: "proxima_nova_bold", Helvetica, Arial, sans-serif;
  font-size: 11px;
}
/* line 508, ../scss/page.scss */
.header .above-nav-bar .languages-items li + li {
  margin-left: 20px;
}
/* line 511, ../scss/page.scss */
.header .above-nav-bar .languages-items li + li:before {
  content: "/";
  font-family: "proxima_nova_regular", Helvetica, Arial, sans-serif;
  font-size: 24px;
  color: #fff;
  position: absolute;
  margin-left: -15px;
  top: -5px;
}

/* line 523, ../scss/page.scss */
.page-slider .for-more {
  display: none;
}

/* line 527, ../scss/page.scss */
.footer .back-top {
  display: none;
}

@media only screen and (min-width: lower-bound(em-calc(768) em-calc(1), em-calc(1024))) {
  /* line 532, ../scss/page.scss */
  .page-slider .for-more {
    display: block;
    font-family: "hoefler_text_italic", Helvetica, Arial, sans-serif;
    position: absolute;
    right: 25px;
    bottom: 40px;
    color: #fff;
    cursor: pointer;
    z-index: 2;
  }

  /* line 543, ../scss/page.scss */
  .arrow {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
  }
  /* line 549, ../scss/page.scss */
  .arrow:after, .arrow:before {
    position: absolute;
    width: 3px;
    height: 50%;
    background: #FFF;
    content: '';
    right: -60px;
  }
  /* line 558, ../scss/page.scss */
  .arrow:before {
    -webkit-transform: translateX(-50%) rotate(-45deg);
    transform: translateX(-50%) rotate(-45deg);
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
  }
  /* line 565, ../scss/page.scss */
  .arrow:after {
    top: 50%;
    -webkit-transform: translateX(-50%) rotate(-135deg);
    transform: translateX(-50%) rotate(-135deg);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
  }
}
@media only screen and (min-width: lower-bound(em-calc(768) em-calc(1), em-calc(1024))) {
  /* line 576, ../scss/page.scss */
  .footer .back-top {
    display: block;
    position: absolute;
    right: 50px;
    top: 0;
    color: #000;
    font-family: "proxima_nova_bold", Helvetica, Arial, sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    cursor: pointer;
  }
  /* line 587, ../scss/page.scss */
  .footer .back-top .arrow {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  /* line 592, ../scss/page.scss */
  .footer .back-top .arrow:after,
  .footer .back-top .arrow:before {
    background: #000;
    right: 55px;
  }
}
@-webkit-keyframes plane_animate {
  0% {
    opacity: 1;
    background-position: 15px 0;
  }
  25% {
    opacity: 1;
    background-position: 72px 0;
  }
  26% {
    opacity: 0;
    background-position: 73px 0;
  }
  49% {
    opacity: 0;
    background-position: -42px 0;
  }
  50% {
    opacity: 1;
    background-position: -41px 0;
  }
  100% {
    opacity: 1;
    background-position: 15px 0;
  }
}
/* line 627, ../scss/page.scss */
.content .columns {
  padding: 0;
}

/* line 631, ../scss/page.scss */
.content .container {
  max-width: 360px;
  padding: 5px 10px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
/* line 638, ../scss/page.scss */
.content .container > img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* line 644, ../scss/page.scss */
.content .container a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
}
/* line 653, ../scss/page.scss */
.content .container a:hover, .content .container a:focus {
  color: #fff;
}
/* line 658, ../scss/page.scss */
.content .container-body {
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  width: 100%;
  height: 100%;
}
/* line 667, ../scss/page.scss */
.content .container-footer {
  position: absolute;
  width: 100%;
  text-transform: uppercase;
  bottom: 40px;
  font-family: "proxima_nova_bold", Helvetica, Arial, sans-serif;
  font-size: 12px;
  letter-spacing: 2.5px;
}
/* line 677, ../scss/page.scss */
.content .container-description {
  font-family: "proxima_nova_black", Helvetica, Arial, sans-serif;
  font-size: 20px;
  padding: 10px 0;
}
/* line 682, ../scss/page.scss */
.content .container-description .trip-plane {
  background: url("../assets/images/plane.png") no-repeat 15px 0;
  padding: 0 35px;
  width: 50px;
  height: 50px;
  display: inline-block;
  margin-bottom: -16px;
}
/* line 693, ../scss/page.scss */
.content .container:hover .trip-plane {
  -webkit-animation-name: plane_animate;
  -webkit-animation-duration: 700ms;
  -webkit-animation-timing-function: cubic-bezier(0.55, 0.23, 0.35, 0.67);
  -webkit-animation-iteration-count: 1;
}
/* line 701, ../scss/page.scss */
.content .container-info {
  font-family: "proxima_nova_black", Helvetica, Arial, sans-serif;
  font-size: 20px;
  margin-top: -5px;
  text-transform: uppercase;
}
/* line 708, ../scss/page.scss */
.content .container-data {
  display: table;
  width: 100%;
  height: 100%;
}
/* line 714, ../scss/page.scss */
.content .container-title {
  color: #fff;
  font-family: "proxima_nova_bold", Helvetica, Arial, sans-serif;
  font-size: 14px;
  letter-spacing: 1.5px;
  padding-top: 15px;
}
/* line 722, ../scss/page.scss */
.content .container-inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding: 0 30px;
}
/* line 729, ../scss/page.scss */
.content .container-barcode {
  display: block;
  width: 70px;
  margin: 15px auto;
}

@media only screen and (min-width: 1025px) {
  /* line 742, ../scss/page.scss */
  .content .container-barcode {
    width: auto;
  }
  /* line 746, ../scss/page.scss */
  .content .container-description {
    font-size: 30px;
    padding: 20px 0;
  }
  /* line 751, ../scss/page.scss */
  .content .container-info {
    font-size: 30px;
  }
  /* line 755, ../scss/page.scss */
  .content .container-title {
    padding-top: 0;
  }
}
/* line 763, ../scss/page.scss */
.footer-inner {
  position: relative;
}
/* line 767, ../scss/page.scss */
.footer hr {
  border-color: #EBEBEB;
}
/* line 771, ../scss/page.scss */
.footer-social ul {
  list-style-type: none;
  font-family: "hoefler_text_italic", Helvetica, Arial, sans-serif;
  font-size: 17px;
  margin: 0;
}
/* line 777, ../scss/page.scss */
.footer-social ul li {
  display: inline-block;
}
/* line 781, ../scss/page.scss */
.footer-social ul li a {
  color: #a1a1a1;
}
/* line 783, ../scss/page.scss */
.footer-social ul li a:hover {
  color: #cccaca;
}
/* line 788, ../scss/page.scss */
.footer-social ul li + li {
  margin-left: 18px;
}
/* line 793, ../scss/page.scss */
.footer .copyright-info p {
  margin: 0;
  font-family: "proxima_nova_bold", Helvetica, Arial, sans-serif;
  font-size: 12px;
}
/* line 799, ../scss/page.scss */
.footer .copyright-info img {
  display: block;
  margin: 30px auto;
}
